@use 'custom' as *;



.home {
    background: red;

    .container {
        background: red;

        .col-md-6 {
            background: red;

            img {
                width: 5rem;
                height: 5rem;
            }
        }
    }
}