@use 'custom' as *;


.home {

    .container {

        .savings__type {

            img {
                width: 3rem;
                height: 3rem;
            }
        }

    }

    .container-fluid {
        height: 25rem;
        border: 2px solid red;

        .influencer__info {

            background: #0d60d8;
        }

        h1 {
            font-size: 3rem;
        }

        p {
            text-align: justify;
        }
    }
}