@use 'custom' as *;



.register {
    margin: 0;
    padding: 0;
    background: #062863;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    .container {

        .col {

            .form {
                border-top-left-radius: 1.3rem;
                border-top-right-radius: 1.3rem;
                border-bottom-right-radius: 1.3rem;

                @include media-breakpoint-up(lg) {
                    width: 50%;
                }

                h1 {
                    color: #083e9e;
                }

                p {
                    color: #4a5568;
                }

                label {
                    color: #4a5568;
                }

                input {
                    border: none;
                    border-radius: .2rem;
                    background: #e2e8f0;
                }

                input[type=submit] {
                    background: #0d60d8;
                    border-top-left-radius: .7rem;
                    border-top-right-radius: .7rem;
                    border-bottom-right-radius: .7rem;
                }

            }
            
        }
    }
}