@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

header, .header{
    font-family: 'DM Sans', sans-serif;
    font-size: 16.5px;
    line-height: 27.2px;
    color: #363636;
}

.theme-dark{
    background: linear-gradient(90deg,#fff,#fff 66.5%,#f8f9fa 0,#f8f9fa 94.5%,#fff 0,#fff 0);
    height: 820px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1000;
}

.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    height: 90px;
    background-color: hsla(0, 0%, 100%, 0);
    padding: 10px 10px;
    z-index: 1000;
}

.scroll{
    background-color: hsl(0, 0%, 100%);
    box-shadow: 0px -2px 10px #ada9a9;
}

section.header{
    width: 80%;
    margin: 0 auto;
}

.navbar-nav{
    align-items: center;
    justify-content: space-between;
    column-gap: 20px;
}

.nav-item{
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
}

.signIn{
    margin-left: 200px;
    white-space: nowrap;
    border: 1px solid #363636;
    border-radius: 12px;
    background-color: white;
    padding: 14px 40px;
}

.signIn:hover{
    border: 1px solid #0d60d8;
    color: #0d60d8;
}

.navCreateAcct{
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 14px 40px;
    border-radius: 12px;
    background-color: #0c1825;
}

.createAcct:hover{
    background-color: #0d60d8!important;
    transition: .8s;
}

section.header{
    margin-top: 150px;
}

.row-head{
    margin: auto;
}

@media screen and (max-width: 1000px) {
    .navbar{
        width: 100vw;
    }
    ul.navbar-nav{
        background-color: #fff;
        padding-bottom: 700px;
    }
    a.nav-link{
        color: #0c1825;
    }

    .nav-item{
        margin-bottom: 30px;
    }
    .signIn{
        margin: auto;
        width: 80vw;
        text-align: center;
    }
    .navCreateAcct{
        width: 80vw;
        color: #fff;
        padding: 14px 40px;
        border-radius: 12px;
        background-color: #0c1825;
        text-align: center!important;
    }
    section.header{
        width: 100%;
        padding: 0;
    }
    .row-head{
        flex-direction: column;
        justify-items: center;
        padding: 0 auto;
        margin: 0 auto;
    }
    .header__text{
        width: 90%;
        margin: 100px 0;
        text-align: center;
    }
    .createAcct{
        margin: auto;
    }
    .header__img{
        margin-left: -100px;
    }
}

section.header .header__text{
    max-width: 500px;
    padding: 0 15px;
    margin-top: -50px;
}

section.header h1{
    font-size: 55px;
    font-weight: 700;
    color: #0c1825;
}

.createAcct{
    display: block;
    width: fit-content;
    color: #fff;
    text-decoration: none;
    padding: 16px 22px;
    margin-bottom: 40px;
    border-radius: 12px;
    background-color: #0c1825;
}

.createAcct:hover{
    background-color: #0d60d8;
    color: #fff;
    transition: .8s;
}

.downldBtn{
    font: 14px;
    text-decoration: none;
    color: #0c1825;
    background-color: hsla(0, 0%, 100%, 0);
    padding: 14.5px 13px;
    border: 1px solid #ddd;
    border-radius: 12px;
    margin-top: 40px;
    margin-right: 10px;
}

.downldBtn:hover{
    transition: .8s;
    color: #0c1825;
    border: 1px solid #0c1825;
}

.row-head{
    min-height: 580.188px;
    align-items: center;
    padding: 0 15px;
}

.header__img{
    padding: 0 15px;
    position: relative;
    justify-content: center;
}

.rect{
    width: 362px;
    height: 572px;
    position: relative;
    left: 20%;
}

.headerImg{
    width: 362px;
    height: 500px;
    position: absolute;
    left: 14%;
    top: 6%;
}

.card{
    width: 215px;
    height: 116.266px;
    background-color: hsla(0, 0%, 100%, 0);
    border: none;
    position: absolute;
}

.card1{
    top: 30%;
    left: -5%;
}

.card2{
    top: 70%;
    left: 57%;
}

.circleHeaderIcon{
    position: absolute;
    top: 28%;
    left: 72%;
}

.dotHeaderIcon{
    position: absolute;
    top: 60%;
    left: 11.2%;
}

