@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

body{
    font-family: 'DM Sans', sans-serif;
    font-size: 16.5px;
    line-height: 27.2px;
    color: #363636;
    padding: 0;
    margin: 0;
    max-width: 100vw;
}

.navbar{
    position: fixed;
    top: 0;
    width: 100vw;
    height: 90px;
    background-color: hsla(0, 0%, 100%, 0);
    padding: 10px 10px;
    z-index: 1000;
}


.container{
    width: 80%;
    margin: 0 auto;
}

.navbar-nav{
    align-items: center;
    justify-content: space-between;
    column-gap: 20px;
}

.nav-item{
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
}

.signIn{
    margin-left: 20%;
}

.signIn, .navCreateAcct{
    width: fit-content;
}

section.header{
    margin-top: 300px;
}

section.header .header__text{
    max-width: 500px;
    padding: 0 15px;
    margin-top: -50px;
}

section.header h1{
    font-size: 55px;
    font-weight: 700;
    color: #0c1825;
}

.createAcct{
    display: block;
    width: fit-content;
    color: #fff;
    text-decoration: none;
    padding: 16px 22px;
    margin-bottom: 40px;
    border-radius: 12px;
    background-color: #0c1825;
}

.createAcct:hover{
    background-color: #0d60d8;
    color: #fff;
    transition: 1s;
}

.downldBtn{
    font: 14px;
    text-decoration: none;
    color: #0c1825;
    background-color: hsla(0, 0%, 100%, 0);
    padding: 14.5px 13px;
    border: 1px solid #ddd;
    border-radius: 12px;
    margin-top: 40px;
    margin-right: 10px;
    transition: 1.5s;
    transition: transform ease 1.5s;
}

.downldBtn:hover{
    color: #0c1825;
    border: 1px solid #0c1825;
    transform: translateY(-10px)
}

.row{
    min-height: 580.188px;
    align-items: center;
    padding: 0 15px;
}

.header__img{
    padding: 0 15px;
    position: relative;
    justify-content: center;
}

.rect{
    width: 362px;
    height: 572px;
    position: relative;
    left: 20%;
}

.headerImg{
    width: 362px;
    height: 500px;
    position: absolute;
    left: 14%;
    top: 6%;
}

.card{
    width: 215px;
    height: 116.266px;
    background-color: hsla(0, 0%, 100%, 0);
    border: none;
    position: absolute;
}

.card1{
    top: 30%;
    left: -5%;
}

.card2{
    top: 70%;
    left: 57%;
}

.circleHeaderIcon{
    position: absolute;
    top: 28%;
    left: 72%;
}

.dotHeaderIcon{
    position: absolute;
    top: 60%;
    left: 11.2%;
}

.security__icon{
    width: 100px;
    height: 116px;
}

section.security{
    display: flex;
    justify-content: center;
    padding-top: 500px;
    width: 60%;
    margin: auto;
    column-gap: 15px;
}

section.security a{
    text-decoration: none;
}

.savings__type img{
    width: 50px;
    height: 50px;
}

.investment__image img{
    width: 256px;
    height: 553.531px;
}

.influencer__img{
    background-image: url(./);
}